.team {
    text-align: center;
    margin-top: 10rem;
}

.team__span {
    background: rgba(142, 36, 36, 0.05);
    border-radius: 16px;
    font-weight: 500;
    font-size: 14px;
    color: var(--color-3);
    padding: 6px;
}

.team__text {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -0.02em;
    color: var(--color-2);
    padding: 1rem 0;
}

.team__description {
    font-size: 20px;
    color: var(--color-1);
    padding-bottom: 4rem;
}

.team__img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .team__description{
        padding-bottom: 1rem;
    }

    .team{
        margin-top: 3rem;
    }
}